body {
    background-color: #002b36;
    font-family: 'Roboto', sans-serif;
}

.header {
    color: #859900;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.header .subheader {
    color: #839496;
    text-align: center;
    font-size: 24px;
    margin: 20px;
    font-weight: 400;
}

.text {
    color: #839496;
    text-align: left-align;
    font-size: 14px;
    font-weight: 400;
    margin: 40px 20px 15px 25px;
}
