@font-face {
    font-family: Inter;
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf")
}

body {
    background-color: #DDE6ED;
    font-family: 'Inter', sans-serif;
}

.header {
    color: #27374D;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
}

.header .subheader {
    color: #DDE6ED;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.text-box {
    display: block;
    border: 2px solid #27374D;
    background-color: #27374D;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.text-box .text,
.text-box .under-construction,
.text-box a {
    line-height: 1.5;
    color: #DDE6ED;
    text-align: left-align;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
}

.text-box .under-construction {
    text-align: center;
}

.text-box a {
    text-decoration: none;
}

.navbar {
    position: relative;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.nav-list-left,
.nav-list-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list-right {
    justify-content: flex-end;
}

.nav-list-left div,
.nav-list-right div {
    padding: 10px 20px;
}


.nav-list-left div a,
.nav-list-right div a {
  color: #27374D;
  text-decoration: none;
  font-size: 28px;
  font-weight: 800;
}

.links-container {
    display: flex;
    justify-content: center;
}

.links-container .links {
    background-color: #9DB2BF;
    border: 2px solid #9DB2BF;
    border-radius: 5px;
    margin: 0 10px;
    margin-top: 10px;
}

.links-container .links img {
    padding-top: 4px;
    width: 40px;
    height: auto;
}

.text-box .blogs {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.text-box .blogs img {
    width: 120px;
    height: auto;
}
